@model List<Book>
@{

    <div class="container">
        <div class="row pt-4">
            <partial name="_NotificationMessage" />
            <div class="col-6">
                <h2 class="text-primary">Book List</h2>
            </div>
            @if ((User.IsInRole("Admin")))
            {
                <div class="col-6 text-end">
                    <a asp-asp-controller="Book" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i> Add Books </a>
                </div>
            }
           
        </div>
        <table class="table table-bordered table-striped">
            @if(Model.Count == 0)
            {
                <thead>
                <tr> <h2>No Books found</h2>
                </tr>
                </thead>
            }
            else
            {
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>ISBN number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>
                                @obj.Name
                            </td>


                            <td>
                                @obj.Isbn
                            </td>
                            <td>
                                @if ((User.IsInRole("Admin")))
                                {
                                <td>
                                    <a class="btn btn-success" asp-page="/books/update" asp-route-id="@obj.ID"> <i class="bi bi-pencil-square"></i>Update</a>

                                    <a class="btn btn-danger" asp-page="/books/delete" asp-route-id="@obj.ID"> <i class="bi bi-pencil-square"></i>Delete</a>


                                </td>

                                }
                                @if ((User.IsInRole("Customer")))
                                {
                                <td>
                                    <a class="btn btn-warning" asp-page="/books/checkOut" asp-route-id="@obj.ID"> <i class="bi bi-pencil-square"></i>CheckOut</a>
                                </td>
                                }


                            </td>
                        </tr>
                    }

                </tbody>
            }
           

        </table>
    </div>
}
